.login-form {
  width: 396px;
  min-height: 527px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login-form__title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  margin: 0;
}

.login-form__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  flex-grow: 1;
}

.login-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form__placeholder {
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-form__input {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  border-bottom: 1px solid #424242;
  padding: 0;
  padding-bottom: 9px;
}

.login-form__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;
}

.login-form__submit {
  border-radius: 3px;
  background: #4285F4;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  align-content: flex-end;
  margin-top: auto;
  border: none;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .login-form {
    width: 100%;
    align-items: center;
    gap: 50px;
    min-height: 665px;
  }

  .login-form__title {
    text-align: center;
  }

  .login-form__form {
    margin-top: 30px;
  }

  .login-form__submit {
    font-size: 12px;
  }
}
