.header {
  width: 100%;
  max-width: 1280px;
  height: 74px;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0 14px;
  }
}
